<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.iflab.icampus"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="14"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

        </activity>
        <activity android:name=".OAuthActivity">
        </activity>

        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash">
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsActivity"
            android:icon="@drawable/news"
            android:label="新闻"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
        </activity>
    </application>

</manifest>
